{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "standard",
    "standard-react",
    "plugin:jsx-a11y/recommended",
    "plugin:flowtype/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["jsx-a11y", "flowtype", "react-hooks"],
  "rules": {
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/no-onchange": 0,
    "react-hooks/exhaustive-deps": 2,
    "react-hooks/rules-of-hooks": 2
  }
}
