input[type="text"],
input[type="email"] {
  &:focus {
    box-shadow: var(--focus);
  }
}

a[href],
area[href],
button:not([disabled]),
summary,
iframe,
input:not([disabled]),
select:not([disabled]),
textarea:not([disabled]),
*[tabindex]:not([tabindex="0"]):not([tabindex^="-"]),
*[contenteditable] {
  &:focus {
    outline: none;
  }

  body.keyboard-in-use &:focus {
    box-shadow: var(--focus);
  }
}

.skip-nav,
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-nav:hover {
  text-decoration: underline;
}

.skip-nav:focus {
  background-color: #fff;
  clip: auto;
  color: var(--colors-brand500);
  height: auto;
  left: 0.5rem;
  padding: 0.5rem;
  position: fixed;
  top: 0.5rem;
  width: auto;
  z-index: 300;
}
