::selection {
  background-color: var(--colors-accent500);
  color: #fff;
}

input {
  &::placeholder {
    color: var(--colors-gray500);
    opacity: 1;
  }

  &:invalid {
    box-shadow: var(--input-invalid);
  }
}
