.IconButton {
  align-items: center;
  color: var(--colors-gray500);
  display: flex;
  height: 3rem;
  justify-content: center;
  position: relative;
  width: 2.5rem;
  z-index: 1;

  &::before {
    border-radius: 50%;
    content: "";
    height: 2.5rem;
    position: absolute;
    width: 2.5rem;
    z-index: -1;
  }

  &.light {
    color: var(--colors-white900);
  }

  @media #{$desktop} {
    &:hover::before {
      background-color: var(--colors-gray300);
    }

    &.light:hover::before {
      background-color: var(--colors-white100);
    }
  }
}

.feather {
  fill: none;
  height: 24px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  width: 24px;
}

.feather--filled {
  fill: currentColor;
}

.feather--small {
  height: 16px;
  width: 16px;
}
