.feather {
  fill: none;
  height: 24px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  width: 24px;
}

.feather--filled {
  fill: currentColor;
}

.feather--small {
  height: 16px;
  width: 16px;
}
