$accent500: #007bfe;

:root {
  --black100: rgba(0, 0, 0, 0.04);
  --black200: rgba(0, 0, 0, 0.08);
  --colors-accent500: #{$accent500};
  --colors-brand100: #fce9ed;
  --colors-brand300: #f67090;
  --colors-brand500: #e4234f;
  --colors-brand900: #c70e3a;
  --colors-danger: #da4453;
  --colors-white100: rgba(255, 255, 255, 0.15);
  --colors-white300: rgba(255, 255, 255, 0.35);
  --colors-white900: rgba(255, 255, 255, 0.9);
  --colors-gray100: #f8fafb;
  --colors-gray200: #f1f1f1;
  --colors-gray300: rgba(0, 0, 0, 0.12);
  --colors-gray400: #cfcfcf;
  --colors-gray600: #666;
  --colors-gray700: #333;
  --colors-gray500: rgba(0, 0, 0, 0.5);
  --colors-gray800: rgba(0, 0, 0, 0.7);
  --colors-gray900: rgba(0, 0, 0, 0.87);
  --colors-success: #13ae36;
  --input-focused: 0 0 0 4px #{rgba($accent500, 0.6)};
  --input-invalid: 0 0 0 4px rgba(218, 68, 83, 0.9);
  --gradient-left: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 30%
  );
  --gradient-right: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 30%
  );
  --shadows-01: 0 1px 2px rgba(0, 0, 0, 0.1);
  --shadows-02: 0 2px 4px rgba(0, 0, 0, 0.15);
  --shadows-03: 0 3px 6px rgba(0, 0, 0, 0.2);
  --shadows-04: 0 4px 8px rgba(0, 0, 0, 0.5);
}

$desktop: "screen and (min-width: 52.0625rem)";
$nonDesktop: "screen and (max-width: 52rem)";
$mobile: "screen and (max-width: 37rem)";
$nonMobile: "screen and (min-width: 37.0625rem)";
$tablet: "screen and (min-width: 37.0625rem) and (max-width: 52rem)";
