@font-face {
  font-display: swap;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src:
    local("Playfair Display Regular "),
    local("Playfair Display-Regular"),
    url("playfair-display-latin-400.woff2") format("woff2"),
    url("playfair-display-latin-400.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  src:
    local("Playfair Display Bold "),
    local("Playfair Display-Bold"),
    url("playfair-display-latin-700.woff2") format("woff2"),
    url("playfair-display-latin-700.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 900;
  src:
    local("Playfair Display Black "),
    local("Playfair Display-Black"),
    url("playfair-display-latin-900.woff2") format("woff2"),
    url("playfair-display-latin-900.woff") format("woff");
}
