.ListBox {
  margin: 0 0 2rem 1rem;
  position: relative;

  summary {
    align-items: center;
    border-bottom: 1px dotted var(--black800);
    color: var(--black900);
    display: inline-flex;
    font-size: 0.875rem;
    font-weight: 500;
    height: 1.5rem;
    position: relative;

    &:hover {
      border-bottom: 1px solid var(--accent500);
      color: var(--accent500);

      div {
        color: inherit;
      }
    }
  }

  ul {
    margin-top: 1rem;

    button {
      background-color: transparent;
      border: 1px solid var(--black300);
      border-radius: 1rem;
      color: var(--black900);
      font-size: 0.875rem;
      font-weight: 500;
      height: 2rem;
      margin: 0 0.5rem 0.5rem 0;
      padding: 0 0.75rem;

      &:not([disabled]).highlighted {
        background-color: var(--gray200);
      }

      &:not([disabled]).selected {
        background-color: var(--black900);
        border: 1px solid transparent;
        color: var(--white900);
      }

      span {
        padding-left: 0.75rem;
      }
    }
  }
}
