// @keyframes pulsating {
//   0% {
//     transform: scale(1);
//   }
//   50% {
//     transform: scale(calc(9 / 7));
//   }
//   100% {
//     transform: scale(1);
//   }
// }

.ShareWidget {
  $size: 2.25rem;

  align-items: center;
  display: flex;
  flex-direction: column;
  width: $size;

  li:first-child {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.25rem;
  }

  a,
  button {
    align-items: center;
    color: var(--gray600);
    display: flex;
    height: $size;
    justify-content: center;
    width: $size;

    &:hover {
      color: var(--black900);
    }
  }

  .Heart {
    color: var(--brand500);

    &:hover {
      // animation: pulsating 1.15s ease-in-out infinite;
      color: var(--brand500);
    }
  }
}
