input[type="text"],
input[type="email"] {
  &:focus {
    box-shadow: var(--input-focused);
  }
}

a[href],
area[href],
button,
summary,
iframe,
input,
select,
textarea,
[tabindex],
[contenteditable] {
  transition: box-shadow 0.2s;

  &:focus {
    outline: none;
  }

  .using-keyboard &:focus {
    box-shadow: var(--input-focused);
  }
}

[disabled] {
  opacity: 0.4;

  .using-keyboard &:focus {
    box-shadow: none;
  }
}

[tabindex="0"],
[tabindex^="-"] {
  .using-keyboard &:focus {
    box-shadow: none;
  }
}

.skip-nav,
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-nav:hover {
  text-decoration: underline;
}

.skip-nav:focus {
  background-color: #fff;
  clip: auto;
  color: var(--brand500);
  height: auto;
  left: 0.5rem;
  padding: 0.5rem;
  position: fixed;
  top: 0.5rem;
  width: auto;
  z-index: 300;
}
