::selection {
  background-color: var(--accent500);
  color: #fff;
}

input {
  &::placeholder {
    color: var(--black600);
    opacity: 1;
  }

  &:invalid {
    box-shadow: var(--input-invalid);
  }
}
