.GhostButton {
  align-items: center;
  border: 2px solid var(--brand500);
  border-radius: 1rem;
  color: var(--brand500);
  display: flex;
  font-size: 0.9375rem;
  font-weight: 700;
  height: 2rem;
  padding: 0 1rem;

  &:hover {
    background-color: var(--brand500);
    color: #fff;
  }
}

.PrimaryButton {
  background-color: var(--brand500);
  border-radius: 1.25rem;
  color: #fff;
  font-size: 0.9375rem;
  font-weight: 500;
  height: 2.5rem;
  padding: 0 3rem;

  &:hover {
    background-color: var(--brand900);
  }

  &.accent {
    background-color: var(--accent500);

    &:hover {
      background-color: var(--accent900);
    }
  }

  &.large {
    border-radius: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    height: 3rem;
    letter-spacing: 1px;
    padding: 0 3.5rem;
  }
}

.TextButton {
  color: var(--accent500);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: capitalize;

  &:hover {
    text-decoration: underline;
  }

  @media #{$desktop} {
    font-size: 0.9375rem;
  }
}
