.ComboBox {
  ul {
    &.Menu {
      background-color: var(--gray200);
      border-bottom-left-radius: 1.25rem;
      border-bottom-right-radius: 1.25rem;
      overflow: auto;
      padding-top: 1.25rem;
      position: absolute;
      top: 1.25rem;
      width: 100%;
    }

    a,
    button,
    span {
      color: var(--black900);
      display: flex;
      font-size: 0.9375rem;
      font-weight: 500;
      line-height: 2.5rem;
      padding-left: 1rem;
      width: 100%;

      &.highlighted {
        background-color: #fff;
      }
    }
  }

  &.small {
    position: relative;
    width: 27rem;
  }

  &.large {
    ul {
      a,
      span {
        font-size: 1rem;
        font-weight: 400;
        padding-left: 1rem;

        &:hover {
          color: var(--brand500);
        }

        @media #{$desktop} {
          font-size: 1.125rem;
          line-height: 3rem;
        }
      }
    }
  }
}
