.Details {
  display: flex;
  flex-direction: column;

  @media #{$nonDesktop} {
    padding: 1.25rem 1rem;
  }

  h3,
  span,
  .Category {
    color: var(--black900);
    font-size: 0.9375rem;
    line-height: 1.25rem;
  }

  h3 {
    font-weight: 600;
  }

  span,
  .Category {
    display: inline-block;
    font-weight: 400;
    text-transform: capitalize;
  }

  .Category {
    border-bottom: 1px dotted var(--black800);

    &:hover {
      border-color: var(--accent500);
      color: var(--accent500);
    }
  }
}
