.Details {
  display: flex;
  flex-direction: column;

  h2,
  span,
  .Category {
    color: var(--black900);
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  h2 {
    font-weight: 700;
  }

  span,
  .Category {
    color: var(--black800);
    display: inline-block;
    font-weight: 500;
    text-transform: capitalize;
  }

  .Category {
    border-bottom: 1px dotted var(--black800);

    &:hover {
      border-color: var(--accent500);
      color: var(--accent500);
    }
  }
}
