#DragLayer {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 800;
}

#DragPreview {
  background-color: #fff;
  border-left: 4px solid var(--accent500);
  border-radius: 4px;
  display: inline-block;
  max-width: 20rem;
  opacity: 0;
  padding: 0.75rem 1rem;
  transition: box-shadow 0.4s ease;

  span {
    color: var(--black900);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
  }
}

#DropIndicator {
  align-items: center;
  display: flex;
  position: absolute;
  width: 100%;

  div {
    background-color: var(--accent500);
  }
}
