.TextInput {
  background-color: var(--gray200);
  border-radius: 1.25rem;
  color: var(--black900);
  font-size: 0.9375rem;
  font-weight: 500;
  height: 2.5rem;
}

.InputBar {
  position: relative;
  z-index: 1;

  .Icon {
    align-items: center;
    color: var(--gray600);
    display: flex;
    height: 2.5rem;
    left: 1rem;
    position: absolute;
    z-index: 2;
  }

  .TextInput {
    padding-left: 3rem;
    width: 100%;
  }

  .Clear {
    position: absolute;
    right: 0.25rem;
    top: -0.25rem;
  }

  &.large {
    @media #{$nonMobile} {
      .Icon {
        height: 3rem;
      }

      .TextInput {
        border-radius: 1.5rem;
        font-size: 1rem;
        height: 3rem;
      }

      .Clear {
        right: 0.5rem;
        top: 0;
      }
    }
  }
}
