.LearningList {
  align-self: start;
  grid-area: list;
  padding: 0 1rem;

  @media #{$nonMobile} {
    border-radius: 8px;
    box-shadow: var(--shadow-02);
  }

  li {
    border-bottom: 1px solid var(--black300);
    padding: 1rem 0;
    position: relative;

    @media #{$desktop} {
      padding: 1.25rem 0;
    }
  }

  li:last-child {
    @media #{$nonMobile} {
      border-bottom: 1px solid transparent;
    }
  }

  h2 {
    color: var(--black900);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;

    @media #{$nonMobile} {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
  }
}

.LearningItem {
  $height: 8rem;
  $mobileHeight: 6rem;

  display: flex;
  height: $mobileHeight;
  justify-content: space-between;

  @media #{$nonMobile} {
    height: $height;
  }

  img {
    border-radius: 4px;
    flex: 0 0 $mobileHeight;
    object-fit: cover;

    @media #{$nonMobile} {
      flex: 0 0 $height;
    }
  }

  .Link {
    display: none;
    margin-left: 0.375rem;
  }

  &:hover {
    h2 {
      text-decoration: underline;
    }

    .Link {
      color: var(--black900);
      display: inline-block;
    }
  }

  p {
    color: var(--black900);
    font-size: 0.875rem;
    line-height: 1.25rem;

    @media #{$nonMobile} {
      color: var(--black800);
      font-weight: 500;
    }
  }

  span {
    color: var(--black500);
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;

    @media #{$mobile} {
      display: none;
    }
  }
}

.Meta {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0.5rem;
  position: relative;

  @media #{$nonMobile} {
    padding-left: 1rem;
  }
}

.LearningVideo {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;

  iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.CheckWrapper {
  bottom: 0.125rem;
  position: absolute;
  right: -0.5rem;

  @media #{$tablet} {
    bottom: 0.375rem;
  }

  @media #{$desktop} {
    bottom: 0.625rem;
  }
}
