$modal-transition-duration: 0.28s;

%modal {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  user-select: none;
}

%full-screen {
  height: 100%;
  width: 100%;
}

%relative {
  & > div {
    height: 100%;
    position: relative;
  }
}

@mixin modal-transition($property, $initial-value, $final-value) {
  #{$property}: $initial-value;
  transition: #{$property} $modal-transition-duration ease-in-out;

  .ReactModal__Overlay--after-open & {
    #{$property}: $final-value;
  }

  .ReactModal__Overlay--before-close & {
    #{$property}: $initial-value;
  }
}

.SignUpModal {
  @extend %modal;
  @extend %full-screen;
  @include modal-transition(opacity, 0, 1);

  align-items: center;
  justify-content: center;

  @media #{$nonMobile} {
    border-radius: 8px;
    height: 24rem;
    width: 32rem;
  }

  h3 {
    color: var(--black900);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
  }

  input[type="email"] {
    background-color: var(--gray200);
    border-radius: 1.25rem;
    color: var(--black900);
    font-size: 0.9375rem;
    height: 2.5rem;
    padding-left: 1rem;
    width: 18rem;
  }

  input[type="checkbox"] {
    margin-right: 0.75rem;
  }

  label {
    color: var(--black900);
    font-size: 0.8125rem;
  }

  a {
    border-bottom: 1px dotted var(--black800);
    color: var(--black900);
    font-weight: 600;

    &:hover {
      border-color: var(--accent500);
      color: var(--accent500);
    }
  }

  p {
    color: var(--black900);
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.SideModal {
  $width: 20rem;

  @extend %modal;
  @extend %relative;
  @include modal-transition(transform, translateX($width), translateX(0));

  bottom: 0;
  max-width: $width;
  padding-bottom: 1.25rem;
  position: fixed;
  right: 0;
  top: 0;
  width: calc(100% - 3.5rem);
}

.BottomModal {
  @extend %modal;
  @extend %relative;
  @include modal-transition(transform, translateY(100%), translateY(0));

  bottom: 0;
  height: 80%;
  padding-bottom: 1rem;
  position: fixed;
  width: 100%;
}

.Overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: background-color $modal-transition-duration ease-in-out;
  z-index: 999;
}

.ReactModal__Body--open {
  overflow: hidden;
  touch-action: none;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.32);
}

.ReactModal__Overlay--before-close {
  background-color: rgba(0, 0, 0, 0);
}
