.ShareWidget {
  $size: 2.25rem;

  align-items: center;
  display: flex;

  @media #{$desktop} {
    flex-direction: column;
    width: $size;
  }

  @media #{$nonDesktop} {
    li {
      margin-right: 0.5rem;
    }
  }

  li:first-child {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  a,
  button {
    align-items: center;
    color: var(--gray600);
    display: flex;
    height: $size;
    justify-content: center;
    width: $size;

    &:hover {
      color: var(--black900);
    }
  }

  .Heart {
    color: var(--brand500);
    transition: transform 0.2s ease;

    &:hover {
      color: var(--brand500);
    }

    &:active {
      transform: scale(calc(8 / 7));
    }
  }
}
