.Snackbar {
  bottom: $bottom-bar-height;
  display: flex;
  justify-content: center;
  left: 0;
  margin: 0.5rem auto;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  transform: scale(0.8);
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out,
    visibility 0.15s;
  visibility: hidden;
  z-index: 900;

  @media #{$desktop} {
    bottom: 1rem;
  }

  &.active {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }

  span {
    color: var(--white900);
    font-size: 1rem;
    line-height: 1.5rem;
  }

  & > div {
    align-items: center;
    background-color: var(--gray700);
    border-radius: 4px;
    box-shadow: var(--shadow-04);
    display: flex;
    justify-content: space-between;
    max-width: 40rem;
    min-width: 22.5rem;
    padding: 0 0.5rem 0 1rem;
    pointer-events: auto;

    @media #{$mobile} {
      flex-direction: column;
      margin: 0 1rem;
      min-width: auto;
      padding: 0 1rem;
    }

    & > div + div {
      align-items: center;
      display: flex;

      @media #{$mobile} {
        align-self: flex-end;
        margin-right: -0.5rem;
      }
    }
  }

  [role="status"] {
    margin-right: 1rem;

    @media #{$mobile} {
      margin-right: 0;
      padding-top: 0.5rem;
    }
  }
}

.ActionButton {
  border-radius: 4px;
  color: var(--brand300);
  font-size: 1rem;
  font-weight: 500;
  height: 2.25rem;
  padding: 0 0.5rem;
  text-transform: uppercase;

  &:hover {
    background-color: var(--white100);
  }

  &:active {
    background-color: var(--white300);
  }
}
