@import "typefaces";
// @import "typography";
@import "reset";
@import "variables";
@import "theme";

@import "base";

@import "buttons";
@import "chip";
@import "progress-bar";
@import "accessibility";
@import "animations";
@import "collections";
@import "combo-box";
@import "drag-n-drop";
@import "details";
@import "dropdown-menu";
@import "footer";
@import "input-bar";
@import "learning-list";
@import "list-box";
@import "icons";
@import "modal";
@import "navigation";
@import "share-widget";
@import "snackbar";
@import "terms_privacy";
@import "utilities";

.base {
  margin: 0 auto;
  max-width: 64rem;
  padding: 0 1rem;
  width: 100%;
}

.fullscreen {
  align-items: center;
  background-color: var(--white800);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

#Hero {
  background-color: var(--gray100);
}
